:root {
    box-sizing: border-box;
    color: #4d4d4d;
    font-family: sylfaen, "eczar", serif;
    line-height: 1.5;
}
*,
:before,
:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: inherit;
}
body {
    font-size: calc(0.7em + 0.5vw);
}
ul,
ol,
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
a:focus,
button:focus,
input:focus {
    outline: none;
    color: black;
    text-decoration: underline #fc0;
}
button {
    border-width: 0;
    background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    text-transform: uppercase;
}
h1 {
    font-size: 2em;
}
h1,
h2 {
    margin: 1em 0 0.25em;
}
h3,
h4 {
    margin-bottom: 0.25em;
}
img {
    width: 100%;
}
p {
    text-align: justify;
    margin-bottom: 0.5em;
}
strong {
    font-weight: 900;
    color: black;
}
form * {
    font-size: 1em;
}
.img-container {
    max-width: 1000px;
    margin: 2em auto;
    padding: 0 2em;
}
.img-container:first-child {
    margin: 0em auto;
}
.txt-container {
    max-width: 800px;
    margin: 1em auto;
    padding: 0 3em;
}
.txt-container--small {
    max-width: 600px;
}
.txt-container--large {
    max-width: 1000px;
}
.img-container__txt,
.columnar-container {
    padding: 0 1em;
}
.txt-container:first-child h2 {
    margin: 0;
}
.full-width-container {
    background: #fea;
    padding: 2em 1em 2em 2em;
}
.columnar-container {
    display: flex;
    max-width: 800px;
    margin: 1em auto;
    padding: 0 2em;
    flex-direction: column;
}
.columnar-container > * {
    flex: 1;
}
.columnar-container div:first-child {
    margin: 0 0 2em 0;
}
.site-header {
    display: flex;
    padding: 1em;
    align-items: center;
    border-bottom: 4px solid #fea;
}
.logo {
    display: flex;
    align-items: center;
    padding: 0 1em;
}
.logo-img {
    width: 4.5em;
    height: 3.5em;
    margin: 0 0.5em;
}
.logo-txt {
    font-family: sans-serif;
    font-size: 1.5em;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 900;
}
.menu {
    font-size: 1.2em;
    z-index: 100;
}
.menu-toggle {
    position: absolute;
    font-size: 1em;
    color: black;
    top: 1.5em;
    right: 2em;
    z-index: 200;
    background-color: transparent;
}
.menu-slider {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: auto;
    box-shadow: none;
    transition: all 0.7s ease-in;
}
.slider-header {
    display: none;
    color: #fc0;
    border-bottom: 5px solid #fc0 !important;
}
.menu.is-open .menu-slider {
    transform: translateX(100%);
    box-shadow: 2px 1px 5px #ccc;
}
.menu.is-open .slider-header {
    display: block;
}
.menu.is-open .menu-toggle:before {
    content: "Close ";
}
.nav-menu {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0em 1em;
    overflow: hidden;
}
.nav-menu > li {
    padding: 1em 2em;
    border-bottom: 1px solid;
}
.search input {
    visibility: hidden;
}
.alert{
    font-size: 1.2em;
    font-weight: bold;
    padding: 2em;
    color: white;
    background: #800020;
}
main {
    padding: 2em 0;
}
main.simple-background {
    background: linear-gradient(150deg, #80e5ff 70%, #0cf 70%);
    margin-bottom: -1em;
}
main.complex-background {
    background: linear-gradient(45deg, #80e5ff 25%, #cff5ff 50%, #0cf 70%);
}
main.has-full-width {
    padding-bottom: 0;
}
.garden-menu {
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.garden-menu > * {
    border: 1px solid;
    border-width: 1px 0;
    padding: 1em;
    overflow-x: auto;
}
.info-card {
    display: flex;
    align-items: center;
}
.hero,
.info-card__img {
    position: relative;
}
.info-card__img {
    flex: 2;
    margin-bottom: 2em;
}
.hero-txt {
    color: white;
    position: absolute;
    bottom: 2em;
    left: 3em;
}
.hero-txt h1 {
    margin: 0;
}
.hero-txt button {
    text-transform: uppercase;
    font-weight: 700;
    background: #fea;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
}
.info-card__txt {
    flex: 3;
}
.hidden-txt {
    height: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
}
.explore-menu {
    display: flex;
    padding: 2em;
    align-items: center;
    margin: auto;
    overflow-x: auto;
}
.explore-card {
    margin: 0 1em;
    display: block;
    flex: 0 0 12em;
    backface-visibility: hidden;
    transition: transform 0.4s ease-out;
}
.explore-card:nth-child(1) {
    transform: perspective(1000px) rotateY(330deg);
}
.explore-card:nth-child(2) {
    flex-basis: 15em;
}
.explore-card:nth-child(3) {
    transform: perspective(1000px) rotateY(30deg);
}
.card-header {
    padding: 1em 0;
    font-family: sylfaen, "eczar", serif;
    border: 1px solid;
    text-align: center;
}
.social-media svg {
    width: 1em;
    height: 1em;
    margin-bottom: -0.1em;
}
footer {
    background-color: #f1f1f1;
    font-size: 0.9em;
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
}
footer > section + section {
    margin: 1em 0 0;
}
footer h2,
footer h3 {
    margin: 0;
}
.list-styled-menu li {
    margin-left: 2em;
    list-style: disc;
}
.link-txt {
    text-decoration: underline;
}
.center {
    text-align: center;
}
.bold {
    font-weight: 700;
}
.dark-txt {
    color: #333;
}
.learn-link {
    text-decoration: underline dotted;
    margin-left: 0.5em;
    color: #fc0;
}
.button {
    width: 15em;
    background: #fc0;
    margin: 0.5em 0 1em;
    padding: 0.5em 1em;
    color: black;
    text-align: center;
    border-radius: 12px;
    display: inline-block;
}
.rainbow-header {
    background: #fc0;
    background: -webkit-linear-gradient(left, red, yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, red, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, red, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, red, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.colored-header {
    color: #fc0;
}
.flip-flex {
    display: flex;
    flex-direction: column;
}
.split-container {
    transform: skewY(3deg);
    padding: 2em;
    background: linear-gradient(240deg, #ffbeaa 70%, #f55e3c 70%);
}
.split-container-wrapper {
    transform: skewY(-3deg);
}
.split-container--ry {
    padding: 2em;
    background: linear-gradient(235deg, #fea 80%, #ff4d54 70%);
}
.split-container--pb {
    padding: 2em;
    background: linear-gradient(150deg, #dfaaff 70%, #0fc 70%);
}
.description {
    padding: 2em;
    margin: 1em 0em;
    box-shadow: inset 0 0 4px;
}
.simple-menu > * + * {
    margin-top: 1em;
}
@media (max-width: 400px) {
    .hero-txt h1 {
        font-size: 1.5em;
    }
    .hero-txt p {
        display: none;
    }
}
@media (min-width: 50em) {
    .flip-flex {
        flex-direction: row;
    }
    .button {
        width: 15em;
        display: block;
    }
    a:hover {
        color: black;
    }
    .logo-txt {
        font-size: 2em;
    }
    .menu {
        font-size: 1em;
    }
    .menu-toggle {
        display: none;
    }
    .menu-slider {
        position: static;
        height: auto;
        width: auto;
    }
    .nav-menu {
        padding: 0 0 0 5em;
    }
    .nav-menu > li {
        padding: 0em 1em;
        border: 0;
        transition: border 0.3s linear;
    }
    .nav-menu li:hover {
        border-bottom: 4px solid #fc0;
    }
    .hero-txt {
        font-size: 1.2em;
    }
    .sermon {
        margin: 0 2em 0 0;
    }
    .explore-card {
        flex: 0 0 22em;
    }
    .explore-card:nth-child(2) {
        flex-basis: 25em;
    }
    .explore-card:hover {
        transform: scale(1.05);
    }
    .info-card__img {
        margin: 0 2em 0 0;
    }
    footer > section {
        max-width: 12em;
    }
    footer > section + section {
        margin: 0 5em 0;
    }
}
